@{
    ViewData["Title"] = "Ana Sayfa";
}


<div class="pagetitle">
        <h5>&nbsp;</h5>
        <nav></nav>
</div>
<section class="section dashboard">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-11">
            <div class="row">
                @Html.Partial("CardBlock")
                @Html.Partial("CardTransaction")
                @Html.Partial("CardTransactionPool")
                @Html.Partial("CardAccount")
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
            @Html.Partial("WidgetBlock")
        </div>
        <div class="col-lg-4">
            @Html.Partial("WidgetTransaction")
        </div>
        <div class="col-lg-4">
            @Html.Partial("WidgetTransactionPool")
        </div>
    </div>
    <br />
</section>
